[submodule "fastahack"]
    path = io/fastahack
    url = https://github/ekg/fastahack.git
[submodule "vcflib"]
    path = io/vcflib
    url = https://github/ekg/vcflib.git
[submodule "vg"]
	path = vg
	url = https://github.com/edawson/vg.git
